<html lang="zh-CN">

<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>产品自动化测试平台</title>
</head>

<body role="document">
    <!-- 导航栏-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

        <div class="container">
            <a class="navbar-brand" href="#">&nbsp;</a>
            <ul class="nav justify-content-center">
                <li><a style='color:white' href="/apitest_manage/">流程接口测试用例</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="active"><a style='color:white' href="/apistep_manage/">流程接口测试步骤</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="active"><a style='color:white' href="/apis_manage/">单一接口测试用例</a></li>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-link"><a style='color:white' href="#">{{user}}</a></li>
                <li class="nav-link"><a style='color:white' href="/logout/">退出</a></li>
            </ul>
        </div>
    </nav>

    <!-- 搜索栏-->
    <div class="page-header" style="padding-top: 70px;">
        <form class="navbar-form" method="get" action="/apistepsearch/">
            {% csrf_token %}
            <input type="search" name="apiname" placeholder="名称" required>
            <button type="submit">搜索</button>
        </form>
    </div>
    <!-- 流程接口测试步骤-->
    <div class="row" style="padding-top: 70px;">
        <div class="col-md-11">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>接口名称</th>
                        <th>接口名称</th>
                        <th>参数=值</th>
                        <th>方法</th>
                        <th>预期结果</th>
                        <th>测试结果
                        </th>
                        <th>时间</th>
                        <th>业务流名称</th>
                    </tr>
                </thead>
                <tbody>
                    {% for apistep in apisteps %}
                    <tr>
                        <td>{{ apistep.id }}</td>
                        <td>{{ apistep.apiname }}</td>
                        <td>{{ apistep.apiurl }}</td>
                        <td>{{ apistep.apiparamvalue }}</td>
                        <td>{{ apistep.apimethod }}</td>
                        <td>{{ apistep.apiresult }}</td>
                        <td>{{ apistep.apistatus }}</td>
                        <td>{{ apistep.create_time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<span style="position:absolute; right:100px; bottom:30px;"> {# 把翻页功能固定显示在右下角#}
    <div class="container">
        <ul class="pagination" id="pager">
            {# 上一页链接开始#}
            {% if apisteps.has_previous %}
            {# 如果有上一页则正常显示上一页的链接#}
            <li class="previous"><a href="/apistep_manage/?page={{ apisteps.previous_page_number }}">上一页</a></li> {# 上一页标签 #}
            {% else %}
            <li class="previous disabled"><a href="#">上一页</a></li> {# 如果当前不存在上一页则上一页的链接不     可单击#}
            {% endif %}
            {# 上一页链接开始#}
            {% for num in apisteps.paginator.page_range %}
            {% if num == currentPage %}
            <li class="item active"><a href="/apistep_manage/?page={{ num }}">{{ num }}</a></li>
            {#显示当前页数链接#}
            {% else %}
            <li class="item"><a href="/apistep_manage/?page={{ num }}">{{ num }}</a></li>
            {% endif %}
            {% endfor %}
            {# 下一页链接开始#}
            {% if apisteps.has_next %} {# 如果有下一页，则正常显示下一页的链接#}
            <li class="next"><a href="/apistep_manage/?page={{ apisteps.next_page_number }}">下一页
                </a></li>
            {% else %}
            <li class="next disabled"><a href="#">下一页</a></li>
            {% endif %}
            {# 下一页链接结束#}
        </ul>
    </div>
</span>
</body>

</html>